.pageContent {
  max-width: var(--max-width-xl);
  margin-left: auto;
  margin-right: auto;
}

.sectionList {
  padding-left: 2em;
  padding-right: 2em;
}

.sectionH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-top: 3em;
  padding-bottom: 3em;
}

.sectionV {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 3em;

  text-align: center;
}

.contentBig {
  h2 {
    font-size: min(10vw, 8em);
  }
  p {
    font-size: min(5vw, 3.5em);
  }
}

.content {
  h2 {
    font-size: min(6vw, 4em);
  }
  p {
    font-size: min(2vw, 2em);
  }
}

.graphic {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    z-index: -1;
    width: min(300px, 30vw);
    border-radius: 5px;
  }
}

.rowBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  > div {
    max-width: 300px;
    background-color: var(--bs-gray-200);
    padding: 20px;
    border-radius: 5px;
    img {
      width: 250px;
      margin-bottom: 10px;
    }
  }
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: var(--bs-black);
      transition: all 200ms;
    }
    a:hover {
      color: var(--bs-gray-600);
      img {
        box-shadow: 0 0 5px 1px black;
      }
    }
    img {
      border: solid 2px #a32638;
      width: 128px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      transition: all 200ms;
    }
    p {
      text-decoration: none;
      margin: 0px;
    }
  }
}
